<!doctype html>
<html lang="en-gb" class="no-js">
<!--<![endif]-->

<head>
	<title>{{ club['name'] }}</title>

	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.ico">

	<!-- this styles only adds some repairs on idevices  -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- ######### CSS STYLES ######### -->
	<link rel="stylesheet" href="{{ static_url('elos/css/reset.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ static_url('elos/css/style.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ static_url('elos/css/font-awesome/css/font-awesome.min.css') }}">
	<!-- responsive devices styles -->
	<link rel="stylesheet" media="screen" href="{{ static_url('elos/css/responsive-leyouts.css') }}" type="text/css" />
	<!-- mega menu -->
	<link href="{{ static_url('elos/js/mainmenu/sticky.css') }}" rel="stylesheet">
	<link href="{{ static_url('elos/js/mainmenu/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ static_url('elos/js/mainmenu/fhmm.css') }}" rel="stylesheet">
	<!-- REVOLUTION SLIDER -->
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/revolutionslider/rs-plugin/css/settings.css') }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/revolutionslider/css/slider_main.css') }}" media="screen" />
	<!-- cubeportfolio -->
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/cubeportfolio/cubeportfolio.min.css') }}">
	<!-- tabs -->
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/tabs/assets/css/responsive-tabs.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/tabs/assets/css/responsive-tabs2.css') }}">
	<!-- carousel -->
	<link rel="stylesheet" href="{{ static_url('elos/js/carousel/flexslider.css') }}" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/carousel/skin.css') }}" />
	<!-- accordion -->
	<link rel="stylesheet" href="{{ static_url('elos/js/accordion/accordion.css') }}" type="text/css" media="all">
	<!-- Lightbox -->
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/lightbox/jquery.fancybox.css') }}" media="screen" />

</head>

<body>


	<div class="wrapper_boxed">

		<div class="site_wrapper">

			<!-- top header bar -->
			{% module Template("elos/block-header.html", club=club, categories=categories, is_login=is_login) %}
			<!-- /top header bar -->

			<div class="clearfix"></div>

			<!-- Contant
======================================= -->

			<div class="page_title">
				<div class="container">

					<h1>About One</h1> Web page editors now use Lorem Ipsum as their default model text.

				</div>
			</div>
			<!-- end page title -->

			<div class="clearfix"></div>

			<div class="content_fullwidth">
				<div class="container">

					<div class="one_half"><img src="http://placehold.it/570x240" alt="" class="img_size1" /></div>
					<!-- end section -->

					<div class="one_half last">

						<h2 class="nocaps">We Build Smarter and Highly Usable Stuff on ThemeForest!</h2>

						<p>There will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look
							like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy versions have evolved over the years
							on purpose.</p>

					</div>
					<!-- end section -->


					<div class="clearfix divider_dashed2"></div>
					<!-- end divider line -->


					<div class="one_half">

						<h2 class="ipages_title1"><strong>Who</strong> We Are</h2>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus
							ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula.</p>
						<br />
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>

					</div>
					<!-- end section -->

					<div class="one_half last">

						<div class="pro_bar inner">

							<h5 class="nocaps">Website Design</h5>
							<div id="progress_bar" class="ui-progress-bar ui-container">
								<div class="ui-progress"><span class="ui-label"><b class="value">90%</b></span></div>
							</div>
							<!-- end section -->

							<br />

							<h5 class="nocaps">Graphic Design</h5>
							<div id="progress_bar2" class="ui-progress-bar ui-container">
								<div class="ui-progress two"><span class="ui-label"><b class="value">72%</b></span></div>
							</div>
							<!-- end section -->

							<br />

							<h5 class="nocaps">Javascript</h5>
							<div id="progress_bar3" class="ui-progress-bar ui-container">
								<div class="ui-progress three"><span class="ui-label"><b class="value">80%</b></span></div>
							</div>
							<!-- end section -->

							<br />

							<h5 class="nocaps">Development</h5>
							<div id="progress_bar4" class="ui-progress-bar ui-container">
								<div class="ui-progress four"><span class="ui-label"><b class="value">94%</b></span></div>
							</div>
							<!-- end section -->

						</div>

					</div>
					<!-- end section -->


					<div class="clearfix divider_dashed2"></div>
					<!-- end divider line -->


					<div class="features_sec42 two">
						<div class="container">

							<h2 class="ipages_title1"><strong>meet</strong> Our Team</h2>
							<br />

							<div class="one_fourth">
								<div class="box">

									<img src="http://placehold.it/270x245" alt="" />

									<h4>John Frances</h4>
									<h6 class="nocaps">CEO</h6>

									<p>Lorem ipsum dolor amet, consectetue Radipiscing elit et Suspendisse et justo. mattis commodo augue. Aliquam ornare hendrerit augue cars.</p>
									<br />
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-skype"></i></a></li>
									</ul>

								</div>
							</div>
							<!-- end section -->

							<div class="one_fourth">
								<div class="box">

									<img src="http://placehold.it/270x245" alt="" />

									<h4>Lucia Penelope</h4>
									<h6 class="nocaps">Manager</h6>

									<p>Lorem ipsum dolor amet, consectetue Radipiscing elit et Suspendisse et justo. mattis commodo augue. Aliquam ornare hendrerit augue cars.</p>
									<br />
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-skype"></i></a></li>
									</ul>

								</div>
							</div>
							<!-- end section -->

							<div class="one_fourth">
								<div class="box">

									<img src="http://placehold.it/270x245" alt="" />

									<h4>Mark Adraison</h4>
									<h6 class="nocaps">Marketing</h6>

									<p>Lorem ipsum dolor amet, consectetue Radipiscing elit et Suspendisse et justo. mattis commodo augue. Aliquam ornare hendrerit augue cars.</p>
									<br />
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-skype"></i></a></li>
									</ul>

								</div>
							</div>
							<!-- end section -->

							<div class="one_fourth last">
								<div class="box">

									<img src="http://placehold.it/270x245" alt="" />

									<h4>Anya Siennadia</h4>
									<h6 class="nocaps">Support</h6>

									<p>Lorem ipsum dolor amet, consectetue Radipiscing elit et Suspendisse et justo. mattis commodo augue. Aliquam ornare hendrerit augue cars.</p>
									<br />
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-skype"></i></a></li>
									</ul>

								</div>
							</div>
							<!-- end section -->

						</div>
					</div>
					<!-- end team section -->


					<div class="clearfix divider_dashed2"></div>
					<!-- end divider line -->


					<div class="one_third">

						<h3 class="ipages_title1"><strong>what</strong> we do?</h3>

						<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. search for 'lorem ipsum' will uncover many web sites.</p>
						<br />
						<p>Lorem Ipsum which looks reasonable randomised words which don't look even slightly believable The generated Lorem Ipsum is therefore always free from repetition, injected humour, or charac words.</p>

					</div>
					<!-- end section -->

					<div class="one_third">

						<ul class="tabs3 two">
							<li><a href="#example-3-tab-1" target="_self">Design</a></li>
							<li><a href="#example-3-tab-2" target="_self">Develop</a></li>
							<li><a href="#example-3-tab-3" target="_self">Graphic</a></li>
						</ul>

						<div class="tabs-content3">

							<div id="example-3-tab-1" class="tabs-panel3">
								<p>Design dolor sit amet adipi scing sellusa fringilla nulla, sit amet consequat eros. Pelle ntesque pharetra blandit commodo. Phasellus massa nisl, feugiat ac bibendum et, dictum id ipsum. Quisque sit amet accumsan tortor It has survived not only
									five centuries, but also the leap into electronic typese remaining essentially many web sites.</p>
							</div>
							<!-- end tab 1 -->

							<div id="example-3-tab-2" class="tabs-panel3">
								<p>Develop dolor sit amet adipi scing sellusa fringilla nulla, sit amet consequat eros. Pelle ntesque pharetra blandit commodo. Phasellus massa nisl, feugiat ac bibendum et, dictum id ipsum. Quisque sit amet accumsan tortor It has survived not only
									five centuries, but also the leap into electronic typese remaining essentially many web sites.</p>
							</div>
							<!-- end tab 2 -->

							<div id="example-3-tab-3" class="tabs-panel3">
								<p>Graphic dolor sit amet adipi scing sellusa fringilla nulla, sit amet consequat eros. Pelle ntesque pharetra blandit commodo. Phasellus massa nisl, feugiat ac bibendum et, dictum id ipsum. Quisque sit amet accumsan tortor It has survived not only
									five centuries, but also the leap into electronic typese remaining essentially many web sites.</p>
							</div>
							<!-- end tab 3 -->

						</div>
						<!-- end all tabs -->

					</div>

					<div class="one_third last">

						<h3 class="ipages_title1"><strong>winning</strong> awards</h3>

						<ul class="list_4">
							<li><i class="fa fa-arrow-circle-o-right"></i> Lorem ipsum dolor consec tetuer adipis</li>
							<li><i class="fa fa-arrow-circle-o-right"></i> Suspendisse imperdiet cursus aecenas</li>
							<li><i class="fa fa-arrow-circle-o-right"></i> Fermentum sit amet vestibulum pretium</li>
							<li><i class="fa fa-arrow-circle-o-right"></i> Magna sem iaculis risus quis volutpats</li>
							<li><i class="fa fa-arrow-circle-o-right"></i> Vivamus risus Aliquam lacinia quis nibh</li>
							<li><i class="fa fa-arrow-circle-o-right"></i> Suspendisse imperdiet cursus maecenas</li>
						</ul>


					</div>


					<div class="clearfix divider_dashed3"></div>
					<!-- end divider line -->


					<div class="one_half">

						<h3 class="ipages_title1 two"><strong>our</strong> clints</h3>

						<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. search for 'lorem ipsum' will uncover many web sites.</p>
						<br />
						<p>Lorem Ipsum which looks reasonable randomised words which don't look even slightly believable The generated Lorem Ipsum is therefore always free from repetition, injected humour, or charac words.</p>

					</div>
					<!-- end section -->

					<div class="one_half last">

						<section class="slider nosidearrows">
							<div class="flexslider carousel">
								<ul class="slides">

									<li class="mb">
										<img src="images/client-logo1.png" alt="" class="img_left10" />
										<img src="images/client-logo2.png" alt="" class="img_left10" />
										<img src="images/client-logo3.png" alt="" class="img_left10" />
										<img src="images/client-logo4.png" alt="" class="img_left10" />
										<img src="images/client-logo5.png" alt="" class="img_left10" />
										<img src="images/client-logo6.png" alt="" class="img_left10" />
									</li>

									<li class="mb">
										<img src="images/client-logo1.png" alt="" class="img_left10" />
										<img src="images/client-logo2.png" alt="" class="img_left10" />
										<img src="images/client-logo3.png" alt="" class="img_left10" />
										<img src="images/client-logo4.png" alt="" class="img_left10" />
										<img src="images/client-logo5.png" alt="" class="img_left10" />
										<img src="images/client-logo6.png" alt="" class="img_left10" />
									</li>

								</ul>
							</div>
						</section>

					</div>
					<!-- end clients -->

				</div>
			</div>

			<div class="clearfix margin_top7"></div>

			<!-- footer -->
			{% module Template("elos/block-footer.html") %}
			<!-- footer -->

			<div class="clearfix"></div>

			<!-- copyright -->
			{% module Template("elos/block-copyright.html") %}
			<!-- copyright -->

			<a href="#" class="scrollup">Scroll</a>
			<!-- end scroll to top of the page-->

		</div>
	</div>

	<!-- ######### JS FILES ######### -->
	<!-- get jQuery from the google apis -->
	<script type="text/javascript" src="{{ static_url('elos/js/universal/jquery.js') }}"></script>
	<!-- style switcher -->
	<script src="{{ static_url('elos/js/style-switcher/jquery-1.js') }}"></script>
	<script src="{{ static_url('elos/js/style-switcher/styleselector.js') }}"></script>
	<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
	<script type="text/javascript" src="{{ static_url('elos/js/revolutionslider/rs-plugin/js/jquery.themepunch.plugins.min.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('elos/js/revolutionslider/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
	<!-- mega menu -->
	<script src="{{ static_url('elos/js/mainmenu/bootstrap.min.js') }}"></script>
	<script src="{{ static_url('elos/js/mainmenu/fhmm.js') }}"></script>
	<!-- jquery jcarousel -->
	<script type="text/javascript" src="{{ static_url('elos/js/carousel/jquery.jcarousel.min.js') }}"></script>
	<!-- scroll up -->
	<script src="{{ static_url('elos/js/scrolltotop/totop.js') }}" type="text/javascript"></script>
	<!-- tabs -->
	<script src="{{ static_url('elos/js/tabs/assets/js/responsive-tabs.min.js') }}" type="text/javascript"></script>

	<!-- jquery jcarousel -->
	<script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
		});
	</script>

	<!-- accordion -->
	<script type="text/javascript" src="{{ static_url('elos/js/accordion/custom.js') }}"></script>
	<!-- REVOLUTION SLIDER -->
	<script type="text/javascript" src="{{ static_url('elos/js/revolutionslider/rs-plugin/js/custom.js') }}"></script>
	<!-- sticky menu -->
	<script type="text/javascript" src="{{ static_url('elos/js/mainmenu/sticky.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('elos/js/mainmenu/modernizr.custom.75180.js') }}"></script>
	<!-- cubeportfolio -->
	<script type="text/javascript" src="{{ static_url('elos/js/cubeportfolio/jquery.cubeportfolio.min.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('elos/js/cubeportfolio/main.js') }}"></script>
	<!-- carousel -->
	<script defer src="{{ static_url('elos/js/carousel/jquery.flexslider.js') }}"></script>
	<script defer src="{{ static_url('elos/js/carousel/custom.js') }}"></script>
	<!-- lightbox -->
	<script type="text/javascript" src="{{ static_url('elos/js/lightbox/jquery.fancybox.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('elos/js/lightbox/custom.js') }}"></script>

	<script type="text/javascript">
		// Menu drop down effect
		$('.dropdown-toggle').dropdownHover().dropdown();
		$(document).on('click', '.fhmm .dropdown-menu', function(e) {
			e.stopPropagation()
		})
	</script>

</body>

</html>
