<div class="sidebar_widget">

  <div id="tabs">

    <ul class="tabs">
      <li class="active"><a href="#tab1">热门文章</a></li>
      <li><a href="#tab2">最近文章</a></li>
      <!-- <li class="last"><a href="#tab3">Tags</a></li> -->
    </ul>
    <!-- /# end tab links -->

    <div class="tab_container">
      <div id="tab1" class="tab_content">
        <ul class="recent_posts_list">
          {% for popular in populars %}
          <li>
            <span><a href="/elos/clubs/{{ popular['club_id'] }}/blogs/{{ popular['_id'] }}"><img src="{{ popular['img'] }}!100x100" alt="" /></a></span>
            <a href="/elos/clubs/{{ popular['club_id'] }}/blogs/{{ popular['_id'] }}">{{ popular['title'] }}</a>
            <i>{{ popular['publish_time'] }}</i>
          </li>
          {% end %}
        </ul>
      </div>
      <!-- end popular posts -->

      <div id="tab2" class="tab_content" style="display:none;">
        <ul class="recent_posts_list">
          {% for article in articles %}
          <li>
            <span><a href="/elos/clubs/{{ article['club_id'] }}/blogs/{{ article['_id'] }}"><img src="{{ article['img'] }}!100x100" alt="" /></a></span>
            <a href="/elos/clubs/{{ article['club_id'] }}/blogs/{{ article['_id'] }}">{{ article['title'] }}</a>
            <i>{{ article['publish_time'] }}</i>
          </li>
          {% end %}
        </ul>
      </div>
      <!-- end popular articles -->

      <!-- <div id="tab3" class="tab_content">
        <ul class="tags">

          <li><a href="#">2013</a></li>
          <li><a href="#"><b>Amazing</b></a></li>
          <li><a href="#">Animation</a></li>
          <li><a href="#">Beautiful</a></li>
          <li><a href="#"><b>Cartoon</b></a></li>
          <li><a href="#">Comedy</a></li>
          <li><a href="#"><b>Cool</b></a></li>
          <li><a href="#">Dance</a></li>
          <li><a href="#">Drive</a></li>
          <li><a href="#"><b>Family</b></a></li>
          <li><a href="#"><b>Fantasy</b></a></li>
          <li><a href="#">News</a></li>
          <li><a href="#"><b>Friends</b></a></li>
          <li><a href="#">Funny</a></li>
          <li><a href="#"><b>Games</b></a></li>
          <li><a href="#">Love</a></li>
          <li><a href="#"><b>Music</b></a></li>
          <li><a href="#">Nature</a></li>
          <li><a href="#"><b>Party</b></a></li>
          <li><a href="#">Pictures</a></li>
          <li><a href="#">Sports</a></li>
          <li><a href="#"><b>Best</b></a></li>
          <li><a href="#">Wedding</a></li>
          <li><a href="#">Weight</a></li>
          <li><a href="#"><b>Youtube</b></a></li>
        </ul>
      </div> -->

    </div>

  </div>

</div>
<!-- end section -->
