<header id="header">

  <!-- top header bar -->
  <div id="topHeader">
    <div class="wrapper">
      <div class="top_nav">
        <div class="container">
          <div class="left">
            <ul>
              <li><a href="mailto:{{ club['email'] }}"><i class="fa fa-envelope"></i> {{ club['email'] }}</a></li>
              <li><i class="fa fa-phone-square"></i> {{ club['phone'] }}</li>
            </ul>
          </div>
          <!-- end left links -->
          <div class="right">
            <ul>
              {% if is_login %}
                <li class="link"><a href="/elos/clubs/{{ club['_id'] }}/logout">登出</a></li>
              {% else %}
                <li class="link"><a href="/elos/clubs/{{ club['_id'] }}/login">登录</a></li>
              {% end %}
              <li><a href="#"><i class="fa  fa-user"></i></a></li>
            </ul>
          </div>
          <!-- end right social links -->
        </div>
      </div>
    </div>
  </div>
  <!-- end top navigation -->


  <div id="trueHeader">
    <div class="wrapper">
      <div class="container">

        <!-- Logo -->
        <div class="logo">
          <a href="/elos/clubs/{{ club['_id'] }}/blogs" id="logo"></a>
        </div>
        <!-- Menu -->
        <div class="menu_main">
          <nav class="navbar navbar-default fhmm" role="navigation">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">Menu <i class="fa fa-bars tbars"></i></button>
            </div>
            <!-- end navbar-header -->

            <div id="defaultmenu" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown active"><a href="/elos/clubs/{{ club['_id'] }}/blogs">首页</a>
                </li>

                <!-- <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Portfolio</a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/elos/clubs/{{ club['_id'] }}/portfolio">Portfolio</a></li>
                    <li><a href="/elos/clubs/{{ club['_id'] }}/portfolio-images">Image Gallery</a></li>
                  </ul>
                </li> -->

                <li class="dropdown"><a href="/elos/clubs/{{ club['_id'] }}/blogs" data-toggle="dropdown" class="dropdown-toggle">博客</a>
                  <ul class="dropdown-menu" role="menu">
                    {% for category in categories %}
                    <li><a href="/elos/clubs/{{ club['_id'] }}/categories/{{ category['_id'] }}">{{ category['title'] }}</a></li>
                    {% end %}
                    <!-- <li><a href="/elos/clubs/{{ club['_id'] }}/blogs/2d4448f40fae11e7866600163e023e51/edit">Edit</a></li>
                    <li><a href="/elos/clubs/{{ club['_id'] }}/blogs/2d4448f40fae11e7866600163e023e51/edit-inline">Edit Inline</a></li>
                    <li><a href="/elos/clubs/{{ club['_id'] }}/blogs/2d4448f40fae11e7866600163e023e51/edit-syntaxhighlighter">Edit Syntaxhighlighter</a></li>
                    <li><a href="/elos/clubs/{{ club['_id'] }}/blogs/2d4448f40fae11e7866600163e023e51/edit-customer-button">Edit Customer Button</a></li> -->
                  </ul>
                  <!-- end dropdown-menu -->
                </li>

                <!-- <li><a href="/elos/clubs/{{ club['_id'] }}/about">关于</a> -->
                </li>
                <li class="dropdown"><a href="/elos/clubs/{{ club['_id'] }}/contact" data-toggle="dropdown" class="dropdown-toggle">我的</a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/elos/clubs/{{ club['_id'] }}/articles/creat">创建</a></li>
                    <li><a href="/elos/clubs/{{ club['_id'] }}/articles/draft">草稿箱</a></li>
                    <li><a href="/elos/clubs/{{ club['_id'] }}/articles/publish">公开</a></li>
                    <li><a href="/elos/clubs/{{ club['_id'] }}/blogs/user-info">个人信息</a></li>
                  </ul>
                </li>

              </ul>
              <!-- end nav navbar-nav -->

              <ul class="nav navbar-nav navbar-right">
                <li><a href="/elos/clubs/{{ club['_id'] }}/contact">联系我们</a>
                </li>
              </ul>

            </div>
            <!-- end #navbar-collapse-1 -->
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
