<div class="footer1">
  <div class="container">

    <div class="one_fourth">
      <ul class="faddress">
        <li><img src="{{ static_url('elos/images/footer-logo.png') }}" alt="" /></li>
        <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 北京市朝阳区望京,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;启阳路金辉大厦</li>
        <li><i class="fa fa-phone"></i>&nbsp; 18625219583</li>
        <li><i class="fa fa-print"></i>&nbsp; 18625219583</li>
        <li><a href="thomas.zh@qq.com"><i class="fa fa-envelope"></i>  thomas.zh@qq.com</a></li>
      </ul>
    </div>
    <!-- end address -->

    <div class="one_fourth">
      <div class="ftags">
        <h3 class="nocaps">Tags</h3>
        <ul>
          {% for category in categories %}
          <li><a href="/elos/clubs/{{ club['_id'] }}/categories/{{ category['_id'] }}">{{ category['title'] }}</a></li>
          {% end %}
        </ul>
      </div>
    </div>
    <!-- end tags -->

    <div class="one_fourth">
      <div class="twitter_feed">
        <h3 class="nocaps">最近更新</h3>
        <div class="right">
          {% for article in articles %}
          <li>
            <a href="/elos/clubs/{{ article['club_id'] }}/blogs/{{ article['_id'] }}">{{ article['title'] }}</a>
          </li>
          {% end %}
        </div>
      </div>
    </div>
    <!-- end tweets -->

    <div class="one_fourth last">
      <h3 class="nocaps">Flickr Photos</h3>
      <div id="flickr_badge_wrapper">
      </div>
    </div>
    <!-- end flickr -->

  </div>
</div>
<script type="text/javascript">
  $(function(){

      $("#searchsubmit").on('click',function(){
        var q = $("#s").val();
        var club_id = "{{ club['_id'] }}";
        location.href="/elos/clubs/"+club_id+"/articles/search?q="+q;
      });
  });
</script>

<!-- end footer -->
