<div class="footer1">
  <div class="container">

    <div class="one_fourth">
      <ul class="faddress">
        <li><img src="images/footer-logo.png" alt="" /></li>
        <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 2901 Marmora Road, Glassgow,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seattle, WA 98122-1090</li>
        <li><i class="fa fa-phone"></i>&nbsp; 1 -234 -456 -7890</li>
        <li><i class="fa fa-print"></i>&nbsp; 1 -234 -456 -7890</li>
        <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope"></i> info@yourdomain.com</a></li>
      </ul>
    </div>
    <!-- end address -->

    <div class="one_fourth">
      <div class="ftags">
        <h3 class="nocaps">Tags</h3>
        <ul>
          <li><a href="#">Awesome</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">UI Design</a></li>
          <li><a href="#">Branding</a></li>
          <li><a href="#">All</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Creative</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Wireframe</a></li>
        </ul>
      </div>
    </div>
    <!-- end tags -->

    <div class="one_fourth">
      <div class="twitter_feed">
        <h3 class="nocaps">Latest Tweets</h3>
        <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
        <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Liwo - Responsive Template on ThemeForest.<br />
          <a href="#" class="small">.9 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a>
        </div>
        <div class="clearfix margin_top3"></div>
        <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
        <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Joosa - Responsive HTML5 / CSS3, Corporate Theme.<br />
          <a href="#" class="small">.10 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a>
        </div>
      </div>
    </div>
    <!-- end tweets -->

    <div class="one_fourth last">
      <h3 class="nocaps">Flickr Photos</h3>
      <div id="flickr_badge_wrapper">
      </div>
    </div>
    <!-- end flickr -->

  </div>
</div>
<!-- end footer -->
