<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->

<head>
	<title>{{ club['name'] }}</title>

	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.ico">

	<!-- this styles only adds some repairs on idevices  -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- ######### CSS STYLES ######### -->
	<link rel="stylesheet" href="{{ static_url('elos/css/reset.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ static_url('elos/css/style.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ static_url('elos/css/font-awesome/css/font-awesome.min.css') }}">
	<!-- responsive devices styles -->
	<link rel="stylesheet" media="screen" href="{{ static_url('elos/css/responsive-leyouts.css') }}" type="text/css" />
	<!-- mega menu -->
	<link href="{{ static_url('elos/js/mainmenu/sticky.css') }}" rel="stylesheet">
	<link href="{{ static_url('elos/js/mainmenu/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ static_url('elos/js/mainmenu/fhmm.css') }}" rel="stylesheet">
	<!-- REVOLUTION SLIDER -->
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/revolutionslider/rs-plugin/css/settings.css') }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/revolutionslider/css/slider_main.css') }}" media="screen" />
	<!-- cubeportfolio -->
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/cubeportfolio/cubeportfolio.min.css') }}">
	<!-- tabs -->
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/tabs/assets/css/responsive-tabs.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/tabs/assets/css/responsive-tabs2.css') }}">
	<!-- carousel -->
	<link rel="stylesheet" href="{{ static_url('elos/js/carousel/flexslider.css') }}" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/carousel/skin.css') }}" />
	<!-- accordion -->
	<link rel="stylesheet" href="{{ static_url('elos/js/accordion/accordion.css') }}" type="text/css" media="all">
	<!-- Lightbox -->
	<link rel="stylesheet" type="text/css" href="{{ static_url('elos/js/lightbox/jquery.fancybox.css') }}" media="screen" />

</head>

<body>


	<div class="wrapper_boxed">

		<div class="site_wrapper">

			<!-- top header bar -->
			{% module Template("elos/block-header.html", club=club, categories=categories, is_login=is_login) %}
			<!-- /top header bar -->

			<div class="clearfix"></div>

			<div class="page_title">
				<div class="container">

					<div class="title">
						<h1>Services Style 3</h1></div>

					Web page editors now use Lorem Ipsum as their default model text.

				</div>
			</div>
			<!-- end page title -->


			<div class="clearfix"></div>

			<div class="container_full">

				<div class="features_sec8">
					<div class="container">

						<h2 class="section_title_drakgray lessmar"><strong>great</strong> flexibility</h2>

						<p class="less1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor.</p>

						<div class="content_box">

							<div class="left">

								<h3><i class="fa fa-cloud"></i> Neat and Clean</h3>

								<p>Lorem ipsum dolor sit amet, consectetuer elit. Suspendisse et justo. Praesent mattis commodo augue aliquam.</p>

							</div>
							<!-- end section -->

							<div class="vline"></div>


							<div class="center active">

								<h3><i class="fa fa-bell"></i> Easy to use</h3>

								<p>Lorem ipsum dolor sit amet, consectetuer elit. Suspendisse et justo. Praesent mattis commodo augue aliquam.</p>

							</div>
							<!-- end section -->

							<div class="vline"></div>

							<div class="right">

								<h3><i class="fa fa-envelope"></i> Very flexible</h3>

								<p>Lorem ipsum dolor sit amet, consectetuer elit. Suspendisse et justo. Praesent mattis commodo augue aliquam.</p>

							</div>
							<!-- end section -->

						</div>

					</div>
				</div>
				<!-- end features section8 -->

				<div class="clearfix"></div>

				<div class="features_sec5">
					<div class="container">

						<h2 class="section_title_white fure"><strong>our agile</strong> process</h2>

						<div class="root">

							<div class="one_fifth"><i class="fa fa-cloud"></i>
								<h5>Product Backlog</h5></div>

							<div class="one_fifth"><i class="fa fa-asterisk active"></i>
								<h5>Sprint Backlog</h5></div>

							<div class="one_fifth"><i class="fa fa-user"></i>
								<h5>User Stories</h5></div>

							<div class="one_fifth"><i class="fa fa-desktop"></i>
								<h5>Demo</h5></div>

							<div class="one_fifth last"><i class="fa fa-rocket"></i>
								<h5>Deliverables</h5></div>

						</div>
						<!-- end root -->

						<div class="clearfix margin_top4"></div>

						<div class="left">
							<div class="circle">

								<h3>Sprint</h3>

								<ul class="list_2">
									<li>Average 3 weeks sprint</li>
									<li>Define <i class="fa fa-check"></i></li>
									<li>Design <i class="fa fa-check"></i></li>
									<li>Development <i class="fa fa-check"></i></li>
									<li>Integrate <i class="fa fa-check"></i></li>
									<li>Testing <i class="fa fa-check"></i></li>
								</ul>

							</div>
						</div>
						<!-- end left circle -->

						<div class="right">
							<div class="circle">

								<h3>daily scrums</h3>

								<strong>15 minutes Daily Meeting</strong>

								<ul>
									<li>1.what did i accomplish yesterday?</li>
									<li>2.what will i do today?</li>
									<li>3. What obstacles are <br> impeding my progress?</li>
									<li>4.what did i do yesterday?</li>
								</ul>

							</div>
						</div>
						<!-- end right circle -->

					</div>
				</div>
				<!-- end features section5 -->

				<div class="clearfix"></div>

				<div class="features_sec44">
					<div class="container">

						<h2 class="section_title_drakgray"><strong>Our</strong> Features</h2>

						<div class="one_half">

							<div class="accrodation">

								<!-- section 1 -->
								<span style="width: 562px;" class="acc-trigger active"><a href="#">45+ Diffrent Featured Sections</a></span>
								<div style="display: block; width: 562px;" class="acc-container">
									<div class="content">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor.
											Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam tellus diam, volutpat a, laoreet vel, bibendum in, nibh. Donec elit lectus, pharetra quis, vulputate in, lobortis at, mi. Donec libero purus, pulvinar
											ac, congue id, iaculis ut, est.</p><br>
									</div>
								</div>

								<!-- section 2 -->
								<span style="width: 562px;" class="acc-trigger"><a href="#">10 Home Page Verstions</a></span>
								<div style="display: none; width: 562px;" class="acc-container">
									<div class="content">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor.
											Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam tellus diam, volutpat a, laoreet vel, bibendum in, nibh. Donec elit lectus, pharetra quis, vulputate in, lobortis at, mi. Donec libero purus, pulvinar
											ac, congue id, iaculis ut, est.</p><br>
									</div>
								</div>

								<!-- section 3 -->
								<span style="width: 562px;" class="acc-trigger"><a href="#">5 Diffrent Header Designs</a></span>
								<div style="display: none; width: 562px;" class="acc-container">
									<div class="content">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor.
											Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam tellus diam, volutpat a, laoreet vel, bibendum in, nibh. Donec elit lectus, pharetra quis, vulputate in, lobortis at, mi. Donec libero purus, pulvinar
											ac, congue id, iaculis ut, est.</p><br>
									</div>
								</div>

							</div>


						</div>
						<!-- end section -->

						<div class="one_half last">

							<img src="images/site-img52.png" alt="" class="img_right">


						</div>
						<!-- end section -->

					</div>
				</div>
				<!-- end features section44 -->

				<div class="clearfix"></div>

				<div class="features_sec9">
					<div class="container">

						<h2 class="section_title_white"><strong>Our</strong> Services</h2>

						<div class="one_fourth">

							<div class="box">
								<div class="image">

									<div>
										<i class="fa fa-coffee"></i>
										<h4>Design</h4>
									</div>

								</div>
								<div class="text">
									<div>
										<h4>Design</h4> Lorem ipsum dolor sit amet, consectetuer elit. Suspen disse et justo.</div>
								</div>
							</div>

						</div>
						<!-- end section -->

						<div class="one_fourth">

							<div class="box">
								<div class="image">

									<div>
										<i class="fa fa-desktop"></i>
										<h4>Devolopment</h4>
									</div>

								</div>
								<div class="text">
									<div>
										<h4>Devolopment</h4> Lorem ipsum dolor sit amet, consectetuer elit. Suspen disse et justo.</div>
								</div>
							</div>

						</div>
						<!-- end section -->

						<div class="one_fourth">

							<div class="box">
								<div class="image">

									<div>
										<i class="fa fa-search"></i>
										<h4>Branding</h4>
									</div>

								</div>
								<div class="text">
									<div>
										<h4>Branding</h4> Lorem ipsum dolor sit amet, consectetuer elit. Suspen disse et justo.</div>
								</div>
							</div>

						</div>
						<!-- end section -->

						<div class="one_fourth last">

							<div class="box">
								<div class="image">

									<div>
										<i class="fa fa-camera"></i>
										<h4 class="nocaps">Photography</h4>
									</div>

								</div>
								<div class="text">
									<div>
										<h4 class="nocaps">Photography</h4> Lorem ipsum dolor sit amet, consectetuer elit. Suspen disse et justo.</div>
								</div>
							</div>

						</div>
						<!-- end section -->

					</div>
				</div>
				<!-- end features section9 -->

				<div class="clearfix margin_top7"></div>

				<div class="container">
					<div class="punchline_text_box">

						<div class="left">
							<strong>Internet tend to repeat predefined making this the first true generators.</strong>
							<p>Latin words, consectetur and going through as the cites of the word in classical literature discoveres the undoubtable source</p>
						</div>

						<div class="right"><a href="#" class="knowmore_but"><i class="fa fa-hand-o-right fa-lg"></i> Know&nbsp;More</a></div>

					</div>
				</div>
				<!-- end punch text box -->


				<div class="divider_line_half">
					<div class="container">
						<div class="divider_line5"></div>
					</div>
				</div>
				<!-- end divider line -->

				<div class="features_sec43">
					<div class="container">

						<h2 class="section_title_drakgray"><strong>what</strong> we offer</h2>

						<div class="one_half">

							<ul>
								<li class="icon"><i class="fa fa-umbrella"></i></li>
								<li class="text">
									<h4 class="nocaps">45+ Diffrent Sections</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p>
								</li>
							</ul>

							<ul>
								<li class="icon"><i class="fa fa-star"></i></li>
								<li class="text">
									<h4 class="nocaps">10 Home Pages</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p>
								</li>
							</ul>

							<ul>
								<li class="icon"><i class="fa fa-cog"></i></li>
								<li class="text">
									<h4 class="nocaps">5 Header Designs</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p>
								</li>
							</ul>

							<ul>
								<li class="icon"><i class="fa fa-check"></i></li>
								<li class="text">
									<h4 class="nocaps">5 Footer Styles</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p>
								</li>
							</ul>

						</div>
						<!-- end section -->

						<div class="one_half last">

							<ul>
								<li class="icon"><i class="fa fa-tablet"></i></li>
								<li class="text">
									<h4 class="nocaps">100% Responsive</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p>
								</li>
							</ul>

							<ul>
								<li class="icon"><i class="fa fa-code"></i></li>
								<li class="text">
									<h4 class="nocaps">Clean Code</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p>
								</li>
							</ul>

							<ul>
								<li class="icon"><i class="fa fa-leaf"></i></li>
								<li class="text">
									<h4 class="nocaps">5 Diffrent Sliders</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p>
								</li>
							</ul>

							<ul>
								<li class="icon"><i class="fa fa-coffee"></i></li>
								<li class="text">
									<h4 class="nocaps">Clean PSD Files</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo. Praesent mattis commodo augue.</p>
								</li>
							</ul>

						</div>
						<!-- end section -->

					</div>
				</div>
				<!-- end features section43 -->


			</div>
			<!-- end content area -->


			<div class="clearfix margin_top1"></div>

			<!-- footer -->
			{% module Template("elos/block-footer.html") %}
			<!-- footer -->

			<div class="clearfix"></div>

			<!-- copyright -->
			{% module Template("elos/block-copyright.html") %}
			<!-- copyright -->

			<a href="#" class="scrollup">Scroll</a>
			<!-- end scroll to top of the page-->





		</div>
	</div>

	<!-- ######### JS FILES ######### -->
	<!-- get jQuery from the google apis -->
	<script type="text/javascript" src="{{ static_url('elos/js/universal/jquery.js') }}"></script>
	<!-- style switcher -->
	<script src="{{ static_url('elos/js/style-switcher/jquery-1.js') }}"></script>
	<script src="{{ static_url('elos/js/style-switcher/styleselector.js') }}"></script>
	<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
	<script type="text/javascript" src="{{ static_url('elos/js/revolutionslider/rs-plugin/js/jquery.themepunch.plugins.min.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('elos/js/revolutionslider/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
	<!-- mega menu -->
	<script src="{{ static_url('elos/js/mainmenu/bootstrap.min.js') }}"></script>
	<script src="{{ static_url('elos/js/mainmenu/fhmm.js') }}"></script>
	<!-- jquery jcarousel -->
	<script type="text/javascript" src="{{ static_url('elos/js/carousel/jquery.jcarousel.min.js') }}"></script>
	<!-- scroll up -->
	<script src="{{ static_url('elos/js/scrolltotop/totop.js') }}" type="text/javascript"></script>
	<!-- tabs -->
	<script src="{{ static_url('elos/js/tabs/assets/js/responsive-tabs.min.js') }}" type="text/javascript"></script>

	<!-- jquery jcarousel -->
	<script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
		});
	</script>

	<!-- accordion -->
	<script type="text/javascript" src="{{ static_url('elos/js/accordion/custom.js') }}"></script>
	<!-- REVOLUTION SLIDER -->
	<script type="text/javascript" src="{{ static_url('elos/js/revolutionslider/rs-plugin/js/custom.js') }}"></script>
	<!-- sticky menu -->
	<script type="text/javascript" src="{{ static_url('elos/js/mainmenu/sticky.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('elos/js/mainmenu/modernizr.custom.75180.js') }}"></script>

	<!-- progress bar -->
	<script src="{{ static_url('elos/js/progressbar/progress.js') }}" type="text/javascript" charset="utf-8"></script>

	<!-- cubeportfolio -->
	<script type="text/javascript" src="{{ static_url('elos/js/cubeportfolio/jquery.cubeportfolio.min.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('elos/js/cubeportfolio/main.js') }}"></script>
	<!-- carousel -->
	<script defer src="{{ static_url('elos/js/carousel/jquery.flexslider.js') }}"></script>
	<script defer src="{{ static_url('elos/js/carousel/custom.js') }}"></script>
	<!-- lightbox -->
	<script type="text/javascript" src="{{ static_url('elos/js/lightbox/jquery.fancybox.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('elos/js/lightbox/custom.js') }}"></script>

	<script type="text/javascript">
		// Menu drop down effect
		$('.dropdown-toggle').dropdownHover().dropdown();
		$(document).on('click', '.fhmm .dropdown-menu', function(e) {
			e.stopPropagation()
		})
	</script>

</body>

</html>
